adls-list-blobs-api/deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "variables": {
    "Unique ID": "[uniqueString(concat(resourceGroup().id, 'list-blobs-api'))]",
    "Identity Name": "[concat('data-lake-identity-', variables('Unique ID'))]",
    "Logic App Name": "[concat('list-blobs-api-', variables('Unique ID'))]"
  },
  "resources": [
    {
      "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
      "name": "[variables('Identity Name')]",
      "apiVersion": "2018-11-30",
      "location": "[resourceGroup().location]"
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('Logic App Name')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]"
      ],
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]": {}
        }
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "container": {
                      "type": "string"
                    },
                    "directory": {
                      "type": "string"
                    },
                    "doListDirectories": {
                      "type": "boolean"
                    },
                    "storageAccount": {
                      "type": "string"
                    },
                    "suffix": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "storageAccount",
                    "container"
                  ],
                  "type": "object"
                }
              },
              "operationOptions": "EnableSchemaValidation"
            }
          },
          "actions": {
            "base-url": {
              "runAfter": {
                "init-continuation": [
                  "Succeeded"
                ],
                "init-error": [
                  "Succeeded"
                ],
                "init-paths": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "https://@{triggerBody()['storageAccount']}.dfs.core.windows.net/@{triggerBody()['container']}?resource=filesystem&recursive=true"
            },
            "blobs": {
              "runAfter": {
                "until-continuation": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@variables('paths')",
                "where": "@not(equals(item()?['isDirectory'], 'true'))"
              }
            },
            "if-list-directories": {
              "actions": {
                "directories": {
                  "runAfter": {},
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('paths')",
                    "where": "@equals(item()?['isDirectory'], 'true')"
                  }
                },
                "response-success-with-directories": {
                  "runAfter": {
                    "directories": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "body": {
                      "blobs": "@body('blobs')",
                      "directories": "@body('directories')"
                    },
                    "statusCode": 200
                  }
                }
              },
              "runAfter": {
                "blobs": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "response-success-without-directories": {
                    "runAfter": {},
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": {
                        "blobs": "@body('blobs')"
                      },
                      "statusCode": 200
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['doListDirectories']",
                      true
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "init-continuation": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "continuation",
                    "type": "string"
                  }
                ]
              }
            },
            "init-error": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "error",
                    "type": "object"
                  }
                ]
              }
            },
            "init-paths": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "paths",
                    "type": "array"
                  }
                ]
              }
            },
            "response-failure": {
              "runAfter": {
                "until-continuation": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "@variables('error')",
                "statusCode": 500
              }
            },
            "until-continuation": {
              "actions": {
                "data-lake-list": {
                  "runAfter": {
                    "with-continuation": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "audience": "https://storage.azure.com",
                      "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', 'datalake-identity')]",
                      "type": "ManagedServiceIdentity"
                    },
                    "headers": {
                      "x-ms-version": "2019-07-07"
                    },
                    "method": "GET",
                    "uri": "@{outputs('with-continuation')}"
                  }
                },
                "set-continuation": {
                  "runAfter": {
                    "data-lake-list": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "continuation",
                    "value": "@{outputs('data-lake-list')['headers']?['x-ms-continuation']}"
                  }
                },
                "set-error": {
                  "runAfter": {
                    "data-lake-list": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "error",
                    "value": {
                      "innerError": {
                        "body": "@body('data-lake-list')",
                        "code": "@outputs('data-lake-list')['statusCode']",
                        "headers": "@outputs('data-lake-list')['headers']"
                      }
                    }
                  }
                },
                "set-paths": {
                  "runAfter": {
                    "union-paths": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "paths",
                    "value": "@outputs('union-paths')"
                  }
                },
                "union-paths": {
                  "runAfter": {
                    "set-continuation": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@union(variables('paths'), body('data-lake-list').paths)"
                },
                "with-continuation": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@concat(outputs('with-directory'), if(equals('', variables('continuation')), '', concat('&continuation=', encodeUriComponent(variables('continuation')))))"
                }
              },
              "runAfter": {
                "with-directory": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(variables('continuation'), '')",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "type": "Until"
            },
            "with-directory": {
              "runAfter": {
                "base-url": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@if(equals('', coalesce(triggerBody()?['directory'], '')), outputs('base-url'), concat(outputs('base-url'), '&directory=', encodeUriComponent(triggerBody()?['directory'])))"
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "id": {
      "type": "object",
      "value": "[reference(variables('Identity Name'), '2018-11-30')]"
    },
    "id2": {
      "type": "string",
      "value": "[reference(variables('Identity Name'), '2018-11-30').principalId]"
    }
  }
}