adls-acl-api/deploy-acl.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "variables": {
    "Unique ID": "[uniqueString(concat(resourceGroup().id, 'adls-acl-api'))]",
    "Identity Name": "[concat('data-lake-identity-', variables('Unique ID'))]",
    "Get ACL Name": "[concat('get-acl-api-', variables('Unique ID'))]",
    "List Blobs Name": "[concat('list-blobs-api-', variables('Unique ID'))]",
    "Patch ACL Name": "[concat('patch-acl-api-', variables('Unique ID'))]"
  },
  "resources": [
    {
      "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
      "name": "[variables('Identity Name')]",
      "apiVersion": "2018-11-30",
      "location": "[resourceGroup().location]"
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('Get ACL Name')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]"
      ],
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]": {}
        }
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "acls": {
              "inputs": "@split(outputs('data-lake-list').headers['x-ms-acl'], ',')",
              "runAfter": {
                "data-lake-list": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "split-colons": {
              "inputs": {
                "from": "@outputs('acls')",
                "select": "@split(item(), ':')"
              },
              "runAfter": {
                "acls": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "data-lake-list": {
              "inputs": {
                "authentication": {
                  "audience": "https://storage.azure.com",
                  "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                  "type": "ManagedServiceIdentity"
                },
                "headers": {
                  "x-ms-version": "2019-07-07"
                },
                "method": "HEAD",
                "uri": "@{outputs('url')}"
              },
              "runAfter": {
                "url": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "default-acl": {
              "inputs": {
                "from": "@body('split-colons')",
                "where": "@equals(item()[0], 'default')"
              },
              "runAfter": {
                "split-colons": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "non-default-acl": {
              "inputs": {
                "from": "@body('split-colons')",
                "where": "@not(equals(item()[0], 'default'))"
              },
              "runAfter": {
                "split-colons": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "response-failure": {
              "inputs": {
                "body": "@coalesce(body('data-lake-list'), 'API failed')",
                "headers": {},
                "statusCode": "@coalesce(outputs('data-lake-list')['statusCode'], 500)"
              },
              "kind": "Http",
              "runAfter": {
                "data-lake-list": [
                  "Failed"
                ]
              },
              "type": "Response"
            },
            "response-success": {
              "inputs": {
                "body": {
                  "acl": {
                    "raw": "@{outputs('data-lake-list')['headers']['x-ms-acl']}",
                    "structured": {
                      "access": "@body('select-non-default-acl')",
                      "default": "@body('select-default-acl')"
                    }
                  },
                  "group": "@{outputs('data-lake-list')['headers']['x-ms-group']}",
                  "owner": "@{outputs('data-lake-list')['headers']['x-ms-owner']}",
                  "permissions": "@{outputs('data-lake-list')['headers']['x-ms-permissions']}"
                },
                "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {
                "select-default-acl": [
                  "Succeeded"
                ],
                "select-non-default-acl": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            },
            "select-default-acl": {
              "inputs": {
                "from": "@body('default-acl')",
                "select": {
                  "permissions": "@item()[3]",
                  "id": "@item()[2]",
                  "type": "@item()[1]"
                }
              },
              "runAfter": {
                "default-acl": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "select-non-default-acl": {
              "inputs": {
                "from": "@body('non-default-acl')",
                "select": {
                  "permissions": "@item()[2]",
                  "id": "@item()[1]",
                  "type": "@item()[0]"
                }
              },
              "runAfter": {
                "non-default-acl": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "url": {
              "inputs": "https://@{triggerBody()['storageAccount']}.dfs.core.windows.net/@{triggerBody()['container']}/@{triggerBody()?['path']}?action=getAccessControl&upn=@{coalesce(triggerBody()?['upn'], false)}",
              "runAfter": {},
              "type": "Compose"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "container": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "storageAccount": {
                      "type": "string"
                    },
                    "upn": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "storageAccount",
                    "container",
                    "path"
                  ],
                  "type": "object"
                }
              },
              "kind": "Http",
              "operationOptions": "EnableSchemaValidation",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('List Blobs Name')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]"
      ],
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]": {}
        }
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "container": {
                      "type": "string"
                    },
                    "directory": {
                      "type": "string"
                    },
                    "doListDirectories": {
                      "type": "boolean"
                    },
                    "storageAccount": {
                      "type": "string"
                    },
                    "suffix": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "storageAccount",
                    "container"
                  ],
                  "type": "object"
                }
              },
              "operationOptions": "EnableSchemaValidation"
            }
          },
          "actions": {
            "base-url": {
              "runAfter": {
                "init-continuation": [
                  "Succeeded"
                ],
                "init-error": [
                  "Succeeded"
                ],
                "init-paths": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "https://@{triggerBody()['storageAccount']}.dfs.core.windows.net/@{triggerBody()['container']}?resource=filesystem&recursive=true"
            },
            "blobs": {
              "runAfter": {
                "until-continuation": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@variables('paths')",
                "where": "@not(equals(item()?['isDirectory'], 'true'))"
              }
            },
            "if-list-directories": {
              "actions": {
                "directories": {
                  "runAfter": {},
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('paths')",
                    "where": "@equals(item()?['isDirectory'], 'true')"
                  }
                },
                "response-success-with-directories": {
                  "runAfter": {
                    "directories": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "body": {
                      "blobs": "@body('blobs')",
                      "directories": "@body('directories')"
                    },
                    "statusCode": 200
                  }
                }
              },
              "runAfter": {
                "blobs": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "response-success-without-directories": {
                    "runAfter": {},
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": {
                        "blobs": "@body('blobs')"
                      },
                      "statusCode": 200
                    }
                  }
                }
              },
              "expression": "@triggerBody()?['doListDirectories']",
              "type": "If"
            },
            "init-continuation": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "continuation",
                    "type": "string"
                  }
                ]
              }
            },
            "init-error": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "error",
                    "type": "object"
                  }
                ]
              }
            },
            "init-paths": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "paths",
                    "type": "array"
                  }
                ]
              }
            },
            "response-failure": {
              "runAfter": {
                "until-continuation": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "@variables('error')",
                "statusCode": 500
              }
            },
            "until-continuation": {
              "actions": {
                "data-lake-list": {
                  "runAfter": {
                    "with-continuation": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "audience": "https://storage.azure.com",
                      "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                      "type": "ManagedServiceIdentity"
                    },
                    "headers": {
                      "x-ms-version": "2019-07-07"
                    },
                    "method": "GET",
                    "uri": "@{outputs('with-continuation')}"
                  }
                },
                "set-continuation": {
                  "runAfter": {
                    "data-lake-list": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "continuation",
                    "value": "@{outputs('data-lake-list')['headers']?['x-ms-continuation']}"
                  }
                },
                "set-http-error": {
                  "inputs": {
                    "name": "error",
                    "value": {
                      "innerError": {
                        "body": "@body('data-lake-list')",
                        "code": "@outputs('data-lake-list')['statusCode']",
                        "headers": "@outputs('data-lake-list')['headers']"
                      }
                    }
                  },
                  "runAfter": {
                    "data-lake-list": [
                      "Failed",
                      "TimedOut"
                    ]

                  },
                  "type": "SetVariable"
                },
                "set-paths": {
                  "runAfter": {
                    "union-paths": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "paths",
                    "value": "@outputs('union-paths')"
                  }
                },
                "filter-suffix": {
                  "inputs": {
                    "from": "@body('data-lake-list').paths",
                    "where": "@or(equals(item()?['isDirectory'], 'true'), endswith(item().name, coalesce(triggerBody()?['suffix'], '')))"
                  },
                  "runAfter": {
                    "set-continuation": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query"
                },
                "union-paths": {
                  "inputs": "@union(variables('paths'), body('filter-suffix'))",
                  "runAfter": {
                    "filter-suffix": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose"
                },
                "with-continuation": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@concat(outputs('with-directory'), if(equals('', variables('continuation')), '', concat('&continuation=', encodeUriComponent(variables('continuation')))))"
                }
              },
              "runAfter": {
                "with-directory": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(variables('continuation'), '')",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "type": "Until"
            },
            "with-directory": {
              "runAfter": {
                "base-url": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@if(equals('', coalesce(triggerBody()?['directory'], '')), outputs('base-url'), concat(outputs('base-url'), '&directory=', encodeUriComponent(triggerBody()?['directory'])))"
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('Patch ACL Name')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('Get ACL Name'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('List Blobs Name'))]"
      ],
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]": {}
        }
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "blobs-to-patch": {
              "inputs": "@if(or(outputs('isDefault'), not(outputs('hasBlobAce'))), outputs('emptySet'), body('list-blobs').blobs)",
              "runAfter": {
                "emptySet": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "directories-to-patch": {
              "inputs": "@if(and(not(outputs('hasDirectoryAce')), not(outputs('isFlushing'))), outputs('emptySet'), union(body('list-blobs').directories, outputs('root-directory')))",
              "runAfter": {
                "root-directory": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "emptySet": {
              "inputs": [],
              "runAfter": {
                "list-blobs": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "for-each-object": {
              "actions": {
                "if-flushing": {
                  "actions": {
                    "filter-out-all-ids": {
                      "inputs": {
                        "from": "@if(outputs('isDefault'), body('get-acl-with-ids').acl.structured.default, body('get-acl-with-ids').acl.structured.access)",
                        "where": "@equals(item()['id'], '')"
                      },
                      "runAfter": {
                        "get-acl-with-ids": [
                          "Succeeded"
                        ]
                      },
                      "type": "Query"
                    },
                    "get-acl-with-ids": {
                      "inputs": {
                        "body": {
                          "container": "@triggerBody()['container']",
                          "path": "@{item().name}",
                          "storageAccount": "@triggerBody()['storageAccount']",
                          "upn": "@outputs('upn')"
                        },
                        "host": {
                          "triggerName": "manual",
                          "workflow": {
                            "id": "[resourceId('Microsoft.Logic/workflows', variables('Get ACL Name'))]"
                          }
                        }
                      },
                      "runAfter": {},
                      "type": "Workflow"
                    },
                    "map-access-to-string": {
                      "inputs": {
                        "from": "@if(outputs('isDefault'), body('get-acl-with-ids').acl.structured.access, body('filter-out-all-ids'))",
                        "select": "@concat(item().type, ':', item().id, ':', item().permissions)"
                      },
                      "runAfter": {
                        "filter-out-all-ids": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select"
                    },
                    "map-default-to-string": {
                      "inputs": {
                        "from": "@if(outputs('isDefault'), body('filter-out-all-ids'), body('get-acl-with-ids').acl.structured.default)",
                        "select": "@concat('default:', item().type, ':', item().id, ':', item().permissions)"
                      },
                      "runAfter": {
                        "filter-out-all-ids": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select"
                    },
                    "patch-blob-flush": {
                      "inputs": {
                        "authentication": {
                          "audience": "https://storage.azure.com",
                          "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                          "type": "ManagedServiceIdentity"
                        },
                        "headers": {
                          "x-ms-acl": "@{join(union(body('map-default-to-string'), body('map-access-to-string')), ',')}",
                          "x-ms-version": "2019-07-07"
                        },
                        "method": "PATCH",
                        "uri": "https://@{triggerBody()['storageAccount']}.dfs.core.windows.net/@{triggerBody()['container']}/@{item().name}?action=setAccessControl"
                      },
                      "runAfter": {
                        "map-access-to-string": [
                          "Succeeded"
                        ],
                        "map-default-to-string": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http"
                    }
                  },
                  "else": {
                    "actions": {
                      "abc": {
                        "inputs": "@if(outputs('isDefault'), body('get-acl').acl.structured.access, union(body('filter-out-ace-id'), outputs('ace-to-apply-collection')))",
                        "runAfter": {
                          "filter-out-ace-id": [
                            "Succeeded"
                          ]
                        },
                        "type": "Compose"
                      },
                      "ace-to-apply": {
                        "inputs": {
                          "id": "@triggerBody()?['ace']?['id']",
                          "permissions": "@if(outputs('isDirectory'), triggerBody()?['ace']?['directoryPermissions'], triggerBody()?['ace']?['blobPermissions'])",
                          "type": "@triggerBody()?['ace']?['type']"
                        },
                        "runAfter": {
                          "get-acl": [
                            "Succeeded"
                          ]
                        },
                        "type": "Compose"
                      },
                      "ace-to-apply-collection": {
                        "inputs": [
                          "@outputs('ace-to-apply')"
                        ],
                        "runAfter": {
                          "ace-to-apply": [
                            "Succeeded"
                          ]
                        },
                        "type": "Compose"
                      },
                      "filter-out-ace-id": {
                        "inputs": {
                          "from": "@if(outputs('isDefault'), body('get-acl').acl.structured.default, body('get-acl').acl.structured.access)",
                          "where": "@not(equals(item()['id'], ''))"
                        },
                        "runAfter": {
                          "ace-to-apply-collection": [
                            "Succeeded"
                          ]
                        },
                        "type": "Query"
                      },
                      "get-acl": {
                        "inputs": {
                          "body": {
                            "container": "@triggerBody()['container']",
                            "path": "@{item().name}",
                            "storageAccount": "@triggerBody()['storageAccount']",
                            "upn": "@outputs('upn')"
                          },
                          "host": {
                            "triggerName": "manual",
                            "workflow": {
                              "id": "[resourceId('Microsoft.Logic/workflows', variables('Get ACL Name'))]"
                            }
                          }
                        },
                        "runAfter": {},
                        "type": "Workflow"
                      },
                      "map-access-to-string-ace": {
                        "inputs": {
                          "from": "@if(outputs('isDefault'), body('get-acl').acl.structured.access, union(body('filter-out-ace-id'), outputs('ace-to-apply-collection')))",
                          "select": "@concat(item()?['type'], ':', item().id, ':', item().permissions)"
                        },
                        "runAfter": {
                          "filter-out-ace-id": [
                            "Succeeded"
                          ]
                        },
                        "type": "Select"
                      },
                      "map-default-to-string-ace": {
                        "inputs": {
                          "from": "@if(outputs('isDefault'), union(body('filter-out-ace-id'), outputs('ace-to-apply-collection')), body('get-acl').acl.structured.default)",
                          "select": "@concat('default:', item().type, ':', item().id, ':', item().permissions)"
                        },
                        "runAfter": {
                          "filter-out-ace-id": [
                            "Succeeded"
                          ]
                        },
                        "type": "Select"
                      },
                      "patch-blob-ace": {
                        "inputs": {
                          "authentication": {
                            "audience": "https://storage.azure.com",
                            "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                            "type": "ManagedServiceIdentity"
                          },
                          "headers": {
                            "x-ms-acl": "@{join(union(body('map-default-to-string-ace'), body('map-access-to-string-ace')), ',')}",
                            "x-ms-version": "2019-07-07"
                          },
                          "method": "PATCH",
                          "uri": "https://@{triggerBody()['storageAccount']}.dfs.core.windows.net/@{triggerBody()['container']}/@{item().name}?action=setAccessControl"
                        },
                        "runAfter": {
                          "map-access-to-string-ace": [
                            "Succeeded"
                          ],
                          "map-default-to-string-ace": [
                            "Succeeded"
                          ]
                        },
                        "type": "Http"
                      }
                    }
                  },
                  "expression": "@outputs('isFlushing')",
                  "runAfter": {
                    "isDirectory": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "isDirectory": {
                  "inputs": "@equals(item()?['isDirectory'], 'true')",
                  "runAfter": {},
                  "type": "Compose"
                }
              },
              "foreach": "@union(outputs('directories-to-patch'), outputs('blobs-to-patch'))",
              "runAfter": {
                "blobs-to-patch": [
                  "Succeeded"
                ],
                "directories-to-patch": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "hasBlobAce": {
              "inputs": "@not(equals(42, coalesce(triggerBody()?['ace']?['blobPermissions'], 42)))",
              "runAfter": {},
              "type": "Compose"
            },
            "hasDirectoryAce": {
              "inputs": "@not(equals(42, coalesce(triggerBody()?['ace']?['directoryPermissions'], 42)))",
              "runAfter": {},
              "type": "Compose"
            },
            "isDefault": {
              "inputs": "@coalesce(triggerBody()?['isDefault'], false)",
              "runAfter": {},
              "type": "Compose"
            },
            "isFlushing": {
              "inputs": "@equals(coalesce(triggerBody()?['ace'], 42), 42)",
              "runAfter": {},
              "type": "Compose"
            },
            "list-blobs": {
              "inputs": {
                "body": {
                  "container": "@triggerBody()['container']",
                  "directory": "@triggerBody()['path']",
                  "doListDirectories": "@triggerBody()?['isRecursive']",
                  "storageAccount": "@triggerBody()['storageAccount']",
                  "suffix": "@coalesce(triggerBody()?['suffix'], '')"
                },
                "host": {
                  "triggerName": "manual",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', variables('List Blobs Name'))]"
                  }
                }
              },
              "runAfter": {
                "hasBlobAce": [
                  "Succeeded"
                ],
                "hasDirectoryAce": [
                  "Succeeded"
                ],
                "isDefault": [
                  "Succeeded"
                ],
                "isFlushing": [
                  "Succeeded"
                ],
                "upn": [
                  "Succeeded"
                ]
              },
              "type": "Workflow"
            },
            "response-failure-patch-blob": {
              "inputs": {
                "body": "Couldn't patch blob",
                "statusCode": 500
              },
              "kind": "Http",
              "operationOptions": "Asynchronous",
              "runAfter": {
                "for-each-object": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "type": "Response"
            },
            "response-success": {
              "inputs": {
                "body": {},
                "statusCode": 200
              },
              "kind": "Http",
              "operationOptions": "Asynchronous",
              "runAfter": {
                "for-each-object": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            },
            "root-directory": {
              "inputs": [
                {
                  "isDirectory": "true",
                  "name": "@{triggerBody()['path']}"
                }
              ],
              "runAfter": {
                "emptySet": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "upn": {
              "inputs": "@coalesce(triggerBody()?['upn'], false)",
              "runAfter": {},
              "type": "Compose"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "ace": {
                      "properties": {
                        "blobPermissions": {
                          "type": "string"
                        },
                        "directoryPermissions": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ],
                      "type": "object"
                    },
                    "container": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    },
                    "isRecursive": {
                      "type": "boolean"
                    },
                    "path": {
                      "type": "string"
                    },
                    "storageAccount": {
                      "type": "string"
                    },
                    "suffix": {
                      "type": "string"
                    },
                    "upn": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "storageAccount",
                    "container",
                    "path"
                  ],
                  "type": "object"
                }
              },
              "kind": "Http",
              "operationOptions": "EnableSchemaValidation",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "id": {
      "type": "object",
      "value": "[reference(variables('Identity Name'), '2018-11-30')]"
    },
    "id2": {
      "type": "string",
      "value": "[reference(variables('Identity Name'), '2018-11-30').principalId]"
    }
  }
}